<div class="row pt-4">
  <div class="col-md-4 offset-md-4 p-4 card shadow-sm">
    <h2 class="text-center mb-4">Update Password</h2>
    <%= form_with model: @user, url: account_path, method: :put do |form| %>
      <%= render partial: "shared/form_errors", locals: { object: form.object } %>
      <div class="mb-3">
        <%= form.label :email, "Current Email", class: "form-label" %>
        <%= form.email_field :email, disabled: true, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :unconfirmed_email, "New Email", class: "form-label" %>
        <%= form.text_field :unconfirmed_email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password, "Password (leave blank if you don't want to change it)", class: "form-label" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
      <hr />
      <div class="my-3">
        <%= form.label :current_password, "Current password (needed to confirm your changes)", class: "form-label" %>
        <%= form.password_field :current_password, required: true, class: "form-control" %>
      </div>
      <%= form.submit "Update Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row mb-5">
  <div class="col-lg-10 mx-auto mb-3">
    <h2 class="text-center my-5">Current Logins</h2>
    <% if @active_sessions.any? %>
      <div class="my-3">
        <%= button_to "Log out of all other sessions", destroy_all_active_sessions_path, method: :delete, class: "btn btn-danger" %>
      </div>
      <table class="table table-bordered mt-5 align-middle">
        <thead>
          <tr>
            <th>User Agent</th>
            <th>IP Address</th>
            <th>Signed In At</th>
            <th>Sign Out</th>
          </tr>
        </thead>
        <tbody>
          <%= render @active_sessions %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
